@import "tailwindcss";

@theme {
  --color-natural-bg: #f9f7f2;
  --color-natural-green: #889e81;
  --color-natural-green-dark: #6b7d66;
  --color-natural-sand: #e9e3d8;
  --color-natural-clay: #6b7d66;
  --color-natural-text: #4a4a4a;
  --color-natural-text-light: #7a7a7a;
  --color-natural-card: #ffffff;
  --color-natural-border: #f0efea;

  --font-serif: "Georgia", serif;
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-natural-bg);
  color: var(--color-natural-text);
  font-family: var(--font-sans);
}
